<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diagnosa.stroke">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiagnosaPenyakitStroke">
        <activity android:name=".activities.EditAkun" />
        <activity android:name=".activities.TambahAkun" />
        <activity android:name=".activities.AkunPengguna" />
        <activity android:name=".activities.RiwayatDiagnosa" />
        <activity android:name=".activities.Tentang" />
        <activity android:name=".activities.ActivityHasil" />
        <activity android:name=".activities.TambahRules" />
        <activity android:name=".activities.EditRules" />
        <activity android:name=".activities.ActivityRules" />
        <activity android:name=".activities.EditGejala" />
        <activity android:name=".activities.TambahGejala" />
        <activity android:name=".activities.ActivityGejala" />
        <activity android:name=".activities.TambahPenyakit" />
        <activity android:name=".activities.EditPenyakit" />
        <activity android:name=".activities.ActivityPenyakit" />
        <activity android:name=".activities.DiagnosaActivity" />
        <activity android:name=".activities.BerandaDokter" />
        <activity android:name=".activities.BerandaAdmin" />
        <activity android:name=".activities.BerandaPasien" />
        <activity android:name=".activities.RegisActivity" />
        <activity android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
    </application>

</manifest>